body {
    background: url('../images/dark_brown_texture.gif');
    /*background: url('../images/bluesky.jpg') no-repeat;
    background-size: cover;*/
    background: #362f21 url('../images/landscape.jpg') repeat-x;
    margin: 0;
    height: 100%;
    font-family: "dejarip", sans-serif;
    font-size: 15px;
}

.header-wrap {
    height: 276px;
}

.header-content {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.header-content h1 {
    padding-left: 50px;
    position: relative;
    top: 50px;
    width: 410px;
}

.nav {
    position: absolute;
    width: 420px;
    top: 60px;
    right: 0;
}
.nav li {
    float: left;
    margin: 0 20px;
}

.nav li a {
    display: block;
    padding: 5px 7px;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    border: 1px solid transparent;
}

.nav li a:hover, .nav li a.current {
    background-color: #566b2a;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    text-shadow: -1px -1px #962727;
    border: 1px solid #962727; 

    background: #c64444; /* Old browsers */
    background: -moz-linear-gradient(top, #c64444 26%, #aa3131 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(26%,#c64444), color-stop(100%,#aa3131)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c64444 26%,#aa3131 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c64444 26%,#aa3131 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c64444 26%,#aa3131 100%); /* IE10+ */
    background: linear-gradient(top, #c64444 26%,#aa3131 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c64444', endColorstr='#aa3131',GradientType=0 ); /* IE6-9 */

    -moz-box-shadow: 0px 0px 3px #aaa;
    -webkit-box-shadow: 0px 0px 3px #aaa;
    box-shadow: 0px 0px 3px #aaa;
}


.content {
    width: 920px;
    background: url('../images/content_bg.jpg') repeat-y;
    margin: -140px auto 0 auto;
    padding: 20px;

    -moz-box-shadow: 0 0 3px #666;
    -webkit-box-shadow: 0 0 3px #666;
    box-shadow: 0 0 3px #666;
}

h1 {
    font-size: 40px;
    font-family: "luminance", georgia, sans-serif;
    background: url('../images/chicken.png') no-repeat;
}

h2 {
    font-size: 34px;
    font-family: "luminance", georgia, sans-serif;
    border-bottom: 2px solid #566b2a;
    margin-bottom: 10px;
    color: #393732; 
}

h3 {
    font-size: 26px;
    font-family: "luminance", georgia, sans-serif;
    border-bottom: 2px solid #566b2a;
    margin-bottom: 10px;
    color: #393732; 
    margin-top: 9px;
    margin-bottom: 15px;
}

p {
    margin-bottom: 10px;
}

a {
    color: #566b2a;
}

.content-aside {
    width: 293px;
    float: right;
}

.content-col-large {
    width: 526px;
    float: left;
    margin-right: 80px;
}

.content-col-large p { 
    width: 250px;
}

.step {
    margin-bottom: 9px;
}

.step-num {
    width: 29px;
    height: 30px;
    float: left;

    background-color: #566b2a;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    color: #fff;
    text-shadow: -1px -1px #424e28;
    border: 1px solid #5C6B3B; 

    background: #707c54; /* Old browsers */
    background: -moz-linear-gradient(top, #707c54 0%, #536232 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#707c54), color-stop(100%,#536232)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #707c54 0%,#536232 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #707c54 0%,#536232 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #707c54 0%,#536232 100%); /* IE10+ */
    background: linear-gradient(top, #707c54 0%,#536232 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707c54', endColorstr='#536232',GradientType=0 ); /* IE6-9 */

    -moz-box-shadow: 0px 0px 3px #aaa;
    -webkit-box-shadow: 0px 0px 3px #aaa;
    box-shadow: 0px 0px 3px #aaa;

}

.step .step-num span {
    display: block;
    padding: 5px 0 0 10px;
    color: #fff;
    font-size: 15px;
}

.step p {
    float: left;
    width: 450px;
    margin-left: 10px;
    margin-top: 6px;
}


/* ---------------------------- */

.product {
    margin-bottom: 25px;
}

.product img {
    float: left;
    width: 53px;
    margin-right: 10px;
    margin-top: 5px;
}

.product span {
    float: left;
    width: 230px;
}

.product .product-title {
    display: inline;
    font-weight: bold;
}

.product .product-price {
    display: inline;
    color: #566b2a;
    font-size: 13px;
}

.product .product-desc {
    color: #393732;
    font-size: 12px;
}

.product-quantity {
    margin-top: 2px;
}


.googlecart-add-button {
    display: inline-block;
    margin-top: 5px;
    cursor: pointer;
    clear: left;
    float left;
    font-size: 13px;
    padding: 3px 7px;
}


/* ---------------------------- */



.green-button {
    background-color: #566b2a;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    text-shadow: -1px -1px #424e28;
    border: 1px solid #5C6B3B; 

    background: #707c54; /* Old browsers */
    background: -moz-linear-gradient(top, #707c54 0%, #536232 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#707c54), color-stop(100%,#536232)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #707c54 0%,#536232 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #707c54 0%,#536232 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #707c54 0%,#536232 100%); /* IE10+ */
    background: linear-gradient(top, #707c54 0%,#536232 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707c54', endColorstr='#536232',GradientType=0 ); /* IE6-9 */
}


.welcome_photo {
    float: left;
    margin-right: 10px;
    width: 245px;
}

.polaroid {
    border: 5px solid #fff;

    -moz-box-shadow: 0px 0px 3px #aaa;
    -webkit-box-shadow: 0px 0px 3px #aaa;
    box-shadow: 0px 0px 3px #aaa;
}

.rounded5px {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.rounded10px {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.fl {
    float: left;
}

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}
